%em in silico
toxicology is a small research oriented company focussing on the development of
%a{:href => "http://en.wikipedia.org/wiki/Open_source_software"} open source
predictive toxicology software and services. We are specialized in developing and applying advanced data mining algorithms for complex chemical and biological data.

%h1 Contact
%em in silico toxicology gmbh
%br Burgfelder Str. 190
%br CH-4055 Basel, Switzerland
%br
  Phone: +41-774339164
  %br
    Email:
    %a{ :href => "mailto:helma@in-silico.ch" } helma@in-silico.ch


%h1 History
%em in silico
toxicology gmbh is a spin-off company of the
%a{ :href => "http://ml.informatik.uni-freiburg.de/", :target => "_top" } Machine Learning Lab
(
%a{ :href => "http://www.uni-freiburg.de", :target => "_top" } University Freiburg
). It was founded in 2004 as a single person enterprise by Christoph Helma and transformed into a gmbh (ltd) in 2010.

