%ul
  %li Research Price for Alternative Methods to Animal Experiments (German Federal Ministry on Consumer Protection, Food and Agriculture, 2005)
  %li Research Prize for Cancer Research without Animal Experiments (Doctors Against Animal Experiments, 2006)

