%ul
  %li
    Virtual appliances with
    %a{ :href => "http://lazar.in-silico.ch/" } lazar
    software for turn-key in-house installations, including email support and updates for one year
  %li
    Confidential virtual screening of compound libraries
  %li
    Development of prediction models for new endpoints
  %li
    Scientific programming and contract research

Please contact 
%a{ :href => "mailto:helma@in-silico.ch" } helma@in-silico.ch
for quotes and technical details.
