Installing our software from public repositories and configuring services and integrating them in an existing IT infrastructure requires technical expertise and can be time consuming. For this reason 
%em in silico
toxicology gmbh offers commercial grade services and support for clients who intend to outsource these tasks to the original developer. We can offer for example

%ul

  %li
    Lazar
    %a{:href => "http://en.wikipedia.org/wiki/Software_as_a_service", :rel => "external"} software as a service
    (SaaS): Secure and confidential predictions for individual compounds and compound libraries
  %li Virtual appliances with lazar software for in-house/desktop installation
  %li Preinstalled and configured servers for the intranet
  %li Local installation services
  %li Phone and email support (during the installation phase or as a yearly contract)
  %li Virtual toxicity screening of compounds and libraries
  %li Development of prediction models for new endpoints
  %li Scientific programming, contract research and consulting


Our experience shows, that application areas and technical requirements are very different from client to client. For this reason we do not offer prepackaged solutions, but try to understand the special requirements of each client before making an offer. 

Please send an email to
%a{:href => "mailto:info@in-silico.ch"} info@in-silico.ch
with a brief description of your application area, relevant endpoints and technical/legal constraints if you are interested in our services.
