%em in silico toxicology gmbh
%p
  Rastatterstrasse 41
  %br CH-4057 Basel
  %br Switzerland
%p
  Phone: +41-774339164
  %br
    Email:
    %a{ :href => "mailto:helma@in-silico.ch" } helma@in-silico.ch

