%em in silico toxicology
%br Christoph Helma
%p
  Altkircher Str. 4
  %br CH-4052 Basel
  %br Switzerland
%p
  Phone: +41-774339164
  %br Email:
  %a{ :href => "mailto:info@in-silico.de" } info@in-silico.de

