%p
  %em in silico
  toxicology gmbh provides customised solutions
  for the computer based prediction of toxic activities.

  %em in silico
  toxicology gmbh is a spin-off company of the
  %a{ :href => "http://ml.informatik.uni-freiburg.de/", :target => "_top" } Machine Learning Lab
  (
  %a{ :href => "http://www.uni-freiburg.de", :target => "_top" } University Freiburg
  ). It was founded in 2004 as a single person enterprise by Christoph Helma and transformed into a gmbh (ltd) in 2010.

