%p
  %em in silico
  toxicology provides customised solutions
  for the computer based prediction of toxic activities.

  %em in silico
  toxicology is a spin-off company of the
  %a{ :href => "http://www.informatik.uni-freiburg.de/~ml/ml_engl.html", :target => "_top" } Machine Learning Lab
  (
  %a{ :href => "http://www.uni-freiburg.de", :target => "_top" } University Freiburg
  ). It was founded in 2004 by Christoph Helma.

