!!!
%html
  %head
    %meta{ :content => "text/html; charset=us-ascii", "http-equiv" => "content-type" }
    %meta{ :name => "robots", :content => "all" }
    %meta{ :name => "author", :content => "Christoph Helma, Andreas Maunz, Denis Gebele" }
    %link{:rel=>'stylesheet', :href=>'/style.css', :type => "text/css"}       
    %title in silico toxicology

  %body
    .logo
      %em in silico
      toxicology gmbh
    .index
      %ul
        %li{:class => ("selected" if /^\/$/ =~ request.path )}
          %a{ :href => "/" } Software and services
        %li{:class => ("selected" if /commercial/ =~ request.path )}
          %a{ :href => "/commercial" } Commercial
        %li{:class => ("selected" if /publications/ =~ request.path )}
          %a{ :href => "/publications" } Publications
        %li{:class => ("selected" if /blog/ =~ request.path )}
          %a{ :href => "/blog" } Blog
        %li{:class => ("selected" if /projects/ =~ request.path )}
          %a{ :href => "/projects" } Projects
        %li{:class => ("selected" if /awards/ =~ request.path )}
          %a{ :href => "/awards" } Awards
        %li{:class => ("selected" if /about/ =~ request.path )}
          %a{ :href => "/about" } About
        / 
          %li{:class => ("selected" if /^\/$/ =~ request.path )}
          %a{ :href => "/" } Home
          %li{:class => ("selected" if /software/ =~ request.path )}
          %a{ :href => "/software" } 
          %li{:class => ("selected" if /services/ =~ request.path )}
          %a{ :href => "/services" } Products and Services
          %li{:class => ("selected" if /contact/ =~ request.path )}
          %a{ :href => "/contact" } Contact

    .content
      = yield

    .footer
      &copy;
      %a{ :href => "http://www.in-silico.ch/" } in silico toxicology gmbh
      2004-#{Time.now.year}
