%ul
  %li
    %a{ :href => "http://www.predictive-toxicology.org/", :target => "_top" }
      www.predictive-toxicology.org
    \: general information
    about Predictive Toxicology, programs, datasets, etc.
  %li
    %a{ :href => "http://www.predictive-toxicology.org/lazar/", :target => "_top" }
      lazar webinterface
    \: free toxicity predictions
  %li
    %a{ :href => "http://www.alfadeo.de/in-silico/", :target => "_top" }
      in
      silico art

