View recent presentations and slides :
%ul
  %li
    %a{:href => "/presentations/enanomapper-nano-lazar/enm-presentation.html", :rel => "external"} Validation of read across predictions for nanoparticle toxicities
    (eNanoMapper 2016)
  %li
    %a{:href => "/presentations/opentox-basel16/index.html", :rel => "external"} Extending OpenTox to Nano Safety with eNanoMapper 
    (OpenTox Basel 2016)
