Apart from industry collaborations
%em in silico
toxicology participates in several EU projects

%p Current projects:
%ul
  %li
    %a{ :href => "http://www.opentox.org"} OpenTox
    An open source predictive toxicology framework (scientific leader, WP1 leader)
  %li
    %a{ :href => "www.sens-it-iv.eu/"} Sens-it-iv
    Novel testing strategies for in vitro assessment of allergens (bioinformatics WP leader,  through University Freiburg)

Finished projects:
%ul
  %li
    %a{ :href => "www.scarlet-project.eu/"} Scarlet
    Workshop on in silico methods for carcinogenicity and mutagenicity 

