%em in silico
toxicology gmbh has customers from pharmaceutical, chemical and food industries, collaborates with registration authorities in the establishment of common standards for QSAR predictions and is actively involved in academic research. We participate also in several EU funded projects:
%dl
  %dt
    %a{ :href => "http://www.enanomapper.net"} eNanoMapper
  %dd
    A Database and Ontology Framework for Nanomaterials Design and Safety Assessment
  %dt
    %a{ :href => "http://www.toxbank.net"} ToxBank
  %dd
    Supporting integrated data analysis and servicing of alternative testing methods in toxicology (WP leader)

%h1 Completed:
%dl
  %dt
    %a{:href => "http://www.birmingham.ac.uk/generic/modnanotox/index.aspx"} ModNanoTox
  %dd
    Modelling toxicity behaviour of engineered nanoparticles (WP leader)
  %dt
    %a{ :href => "http://www.opentox.org"} OpenTox
  %dd
    An open source predictive toxicology framework (scientific leader, WP leader)
  %dt
    %a{ :href => "http://www.sens-it-iv.org/"} Sens-it-iv
  %dd
    Novel testing strategies for in vitro assessment of allergens (bioinformatics WP leader,  through University Freiburg)
  %dt
    %a{ :href => "http://www.scarlet-project.eu/"} Scarlet
  %dd
    Workshop on in silico methods for carcinogenicity and mutagenicity 

