%ul
  %li
    Local installation of 
    %code lazar
    and 
    %a{:href => "http://www.opentox.org"} OpenTox
    systems
  %li
    Commercial support for local
    installations
  %li
    Development of prediction modules for new endpoints
  %li
    Inclusion of confidential in-house data into 
    %code lazar
    and 
    %a{:href => "http://www.opentox.org"} OpenTox
    systems
  %li
    Batch predictions for large datasets
  %li
    Costumer oriented
    %code lazar
    and 
    %a{:href => "http://www.opentox.org"} OpenTox
    implementations (e.g.
    consideration of background knowledge, inclusion of biological
    data, optimisation for high throughput screening)
  %li
    Contract research and consulting

