%ul
  %li
    Local installation of the
    %code lazar
    system
  %li
    Support for local
    %code lazar
    installations
  %li
    Development of new prediction modules
  %li
    Inclusion of in-house data into prediction modules
  %li
    Batch predictions via file upload
  %li
    Costumer oriented
    %code lazar
    implementations (e.g.
    consideration of background knowledge, inclusion of biological
    data, optimisation for high throughput screening)
  %li
    Contract research and consulting

