%em in silico
toxicology develops the
%code
  %a{ :href => "http://www.predictive-toxicology.org/lazar/" } lazar
(
%em Lazy Structure- Activity Relationships
) program for the prediction of toxic activities.
%p 
  %code lazar
  can be used from a free
  %a{ :href => "http://lazar.in-silico.ch/" } webinterface
  or by compiling the
  %a{ :href => "http://github.com/helma/lazar-core/" } source code
  (
  %a{ :href => "http://www.gnu.org/copyleft/gpl.html" } GNU License
  ) for a local installation.
%p 
  We offer also
  %a{ :href => '/services' } commercial services
  for in-house installations, custom developments, consulting and support.

