%em in silico
toxicology develops
%a{:href => "http://en.wikipedia.org/wiki/Open_source_software"} open source
software:

%ul
  %li
    Webservices and applications for the 
    %a{:href => "http://www.opentox.org"} OpenTox
    framework
  %li
    The
    %code
      %a{ :href => "http://lazar.in-silico.de/" } lazar
    (
    %em Lazy Structure- Activity Relationships
    ) program for the prediction of toxic activities and webservices.
    %code lazar
    can be used from a free
    %a{ :href => "http://lazar.in-silico.de/" } webinterface
    or by compiling the
    %a{ :href => "http://github.com/helma/lazar-core/" } source code
    (
    %a{ :href => "http://www.gnu.org/copyleft/gpl.html" } GNU License
    ) for a local installation.
%p
Please visit our
%a{ :href => "http://github.com/helma"} GitHub repository
to view and download the source code of our projects.
%p 
We offer also
%a{ :href => '/services' } commercial services
for in-house installations, custom developments, consulting and support.

